<label for="nom" class="rem">Nome:</label>
<input placeholder="Nome do acto" size="50" maxlength="255" type="text" id="nom" name="acto[nome]" value="<%= acto.nome %>" /> <p></p>

<label for="dat" class="rem">Data: (dd/mm/aaaa) </label>
<input placeholder="Data" size="10" maxlength="10" type="text" id="dat" name="acto[data]" value="<%= acto.data %>" /> <p></p>

<label for="hor" class="rem">Hora: (hh:mm)</label>
<input placeholder="Hora" size="5" maxlength="5" type="text" id="hor" name="acto[hora]" value="<%= acto.hora %>" /> <p></p>

<label for="lug" class="rem">Lugar:</label>
<input placeholder="Lugar de celebración" size="50" maxlength="255" type="text" id="lug" name="acto[lugar]" value="<%= acto.lugar %>" /> <p></p>

<label for="acto[tipo]" class="rem">Tipo:</label>
	<select name="acto[tipo]">
		<% if (acto.tipo === 'Artes escénicas') { %>
			<option value="Artes escénicas" selected>Artes escénicas</option>
		<% } else { %>
			<option value="Artes escénicas">Artes escénicas</option>
		<% } %>
		<% if (acto.tipo === 'Conferencias') { %>
			<option value="Conferencias" selected>Conferencias</option>
		<% } else { %>
			<option value="Conferencias">Conferencias</option>
		<% } %>
		<% if (acto.tipo === 'Exposicións') { %>
			<option value="Exposicións" selected>Exposicións</option>
		<% } else { %>
			<option value="Exposicións">Exposicións</option>
		<% } %>
		<% if (acto.tipo === 'Cine') { %>		
			<option value="Cine" selected>Cine</option>
		<% } else { %>
			<option value="Cine">Cine</option>
		<% } %>
		<% if (acto.tipo === 'Concursos e premios') { %>
			<option value="Concursos e premios" selected>Concursos e premios</option>
		<% } else { %>
			<option value="Concursos e premios">Concursos e premios</option>
		<% } %>
		<% if (acto.tipo === 'Cursos e talleres') { %>
			<option value="Cursos e talleres" selected>Cursos e talleres</option>
		<% } else { %>
			<option value="Cursos e talleres">Cursos e talleres</option>
		<% } %>
		<% if (acto.tipo === 'Formación') { %>
			<option value="Formación" selected>Formación</option>
		<% } else { %>
			<option value="Formación">Formación</option>
		<% } %>
		<% if (acto.tipo === 'Roda de prensa') { %>
			<option value="Roda de prensa" selected>Roda de prensa</option>
		<% } else { %>
			<option value="Roda de prensa">Roda de prensa</option>
		<% } %>
		<% if (acto.tipo === 'Outros') { %>
			<option value="Outros" selected>Outros</option>
		<% } else { %>
			<option value="Outros">Outros</option>
		<% } %>
	</select> <p></p>

<label for="des" class="rem">Descrición:</label>
<textarea placeholder="Descrición do acto" cols="48" rows="10" maxlength="1000" id="des" name="acto[descricion]"><%= acto.descricion %></textarea>

<label for="fot" class="rem">Foto:</label>
<input placeholder="Foto de anuncio do acto" size="50" maxlength="255" type="text" id="fot" name="acto[foto]" value="<%= acto.foto %>" /> <p></p>

<label for="act" class="rem">Activo:</label>
<select name="acto[activo]">
	<% if (acto.activo) { %>
		<option value="1" selected>Activo</option>
		<option value="0">Anulado</option>
	<% } else { %>
		<option value="1">Activo</option>
		<option value="0" selected>Anulado</option>
	<% } %>
</select><p></p>

<label for="pas" class="rem">Pasado:</label>
<select name="acto[pasado]">
	<% if (!acto.pasado) { %>
		<option value="0" selected>Vixente</option>
		<option value="1">Pasado</option>
	<% } else { %>
		<option value="0">Vixente</option>
		<option value="1" selected>Pasado</option>
	<% } %>
</select><p></p>


<div id="botons">
	<a href="/actos"><button type="button">Cancelar</button></a>
	<input type="submit" value="Gardar">
</div>