<label for="nom" class="rem">Nome:</label>
<input type="text" id="nom" name="acto[nome]" value="<%= acto.nome %>" /> <p></p>

<label for="dat" class="rem">Data:</label>
<input type="text" id="dat" name="acto[data]" value="<%= acto.data %>" /> <p></p>

<label for="hor" class="rem">Hora:</label>
<input type="text" id="hor" name="acto[hora]" value="<%= acto.hora %>" /> <p></p>

<label for="lug" class="rem">Lugar:</label>
<input type="text" id="lug" name="acto[lugar]" value="<%= acto.lugar %>" /> <p></p>

<label for="tip" class="rem">Tipo:</label>
<input type="text" id="tip" name="acto[tipo]" value="<%= acto.tipo %>" /> <p></p>

<label for="des" class="rem">Descrición:</label>
<input type="text" id="des" name="acto[descricion]" value="<%= acto.descricion %>" /> <p></p>

<label for="fot" class="rem">Foto:</label>
<input type="text" id="fot" name="acto[foto]" value="<%= acto.foto %>" /> <p></p>

<label for="act" class="rem">Activo:</label>
<input type="text" id="act" name="acto[activo]" value="<%= acto.activo %>" /> <p></p>

<label for="pas" class="rem">Pasado:</label>
<input type="text" id="pas" name="acto[pasado]" value="<%= acto.pasado %>" /> <p></p>

<div id="botons">
	<a href="/actos"><button type="button">Cancelar</button></a>
	<input type="submit" value="Gardar">
</div>