<article>
	<div class="caixa">
		<img class="imaxe" src="../images/<%= acto.foto%>" alt="foto do acto">
	</div>

 	<% if (!acto.activo) {%> 
	 	<table id="anulado"> 
 	<%} else { %>
		<table>
	<% } %>
		<tr>
			<td><b>Nome:</b></td>
			<td><%= acto.nome%></td>
		</tr>
		<tr>
			<td><b>Tipo:</b></td>
			<td><%= acto.tipo%></td>
		</tr>
		<tr>
			<td><b>Lugar:</b></td>
			<td><%= acto.lugar%></td>
		</tr>
		<tr>
			<td><b>Data:</b></td>
			<%
				var dia = acto.data.substr(6,2);
				var mes = acto.data.substr(4,2);
				var ano = acto.data.substr(0,4);
			
				var data = dia+"/"+mes+"/"+ano;
			%>
			<td><%= data%></td>
		</tr>
		<tr>
			<td><b>Hora:</b></td>
			<td><%= acto.hora%></td>
		</tr>
		<tr>
			<td><b>Descripción:</b></td>
			<td><%= acto.descricion%></td>
		</tr>
	</table>
			
	<div id="coment">
		<p><a href="/actos/<%= acto.id %>/comentarios/new">
			<% if(session.user){ %>
				<button>Novo comentario</button>
			<% } %>
		</a></p>
		<p><strong>Comentarios sobre este acto:</strong></p>
			<% for(var index in acto.Comentarios){ %>
	   		<p>- <%= acto.Comentarios[index].texto %></p>
			<% } %>
	</div>
</article>

