<article>
	<table>
		<tr>
			<th>Acto</th>
			<th>Tipo</th>
			<th>Data</th>
			<th>Hora</th>
			<th>Activo</th>
			<% if(session.user){ %>
				<th colspan="2">Accións</th>
			<% } %>
		</tr> 
		<% var i; for (i=0; i < acto.length; i++) { %>   
			<tr>
				<td><a href="/actos/<%= acto[i].id %>"><%= acto[i].nome %></a></td>
				<td><%= acto[i].tipo%></td>
				<td><%= acto[i].data%></td>
				<td><%= acto[i].hora%></td>
				<% if (acto[i].activo) { %>			
					<td>Activo</td>
				<% } else { %>
					<td>Anulado</td>
				<% } %>
				
				<% if(session.user){ %>
					<td><a href="/actos/<%= acto[i].id %>/edit"><button>Editar</button></a></td>
					<td>
						<form method="post" action="actos/<%= acto[i].id %>?_method=delete">
							<button type="submit" onclick="return confirm('Queres borrar este acto?');">Borrar</button>
						</form>
					</td>
				<% } %>
			</tr>
		<% } %>
	</table>
	<% if(session.user){ %>
		<a href="/actos/new"><button type="button">Novo Acto</button></a>
	<% } %>
</article>