<article>
	<% if (pasado === "0"){ %>
		<div class="submenu">
			<span><a href="/actos" >Todos</a></span>
      	<span><a href="/hoxe" >Hoxe</a></span><p></p>
		</div>
	<% } %>
	<h2><%= cabeceira %></h2>
	<table>
		<tr>
			<th>Acto</th>
			<th>Tipo</th>
			<th>Data</th>
			<th>Hora</th>
			<th>Activo</th>
			<% if(session.user && session.user.id === 1){ %>
				<th colspan="2">Accións</th>
			<% } %>
		</tr> 
		<% var i; for (i=0; i < acto.length; i++) {
			var dia = acto[i].data.substr(6,2);
			var mes = acto[i].data.substr(4,2);
			var ano = acto[i].data.substr(0,4);
			
			var data = dia+"/"+mes+"/"+ano;
		%>   
			<tr>
				<td><a href="/actos/<%= acto[i].id %>"><%= acto[i].nome %></a></td>
				<td><%= acto[i].tipo%></td>
				<td><%= data%></td>
				<td><%= acto[i].hora%></td>
				<% if (acto[i].activo) { %>			
					<td>Activo</td>
				<% } else { %>
					<td class="anulado">Anulado</td>
				<% } %>
				
				<% if(session.user && session.user.id === 1){ %>
					<td><a href="/actos/<%= acto[i].id %>/edit"><button>Editar</button></a></td>
					<td>
						<form method="post" action="actos/<%= acto[i].id %>?_method=delete">
							<button type="submit" onclick="return confirm('Queres borrar este acto?');">Borrar</button>
						</form>
					</td>
				<% } %>
			</tr>
		<% } %>
	</table>
	<% if(session.user && session.user.id === 1 && pasado==="0"){ %>
		<a href="/actos/new"><button type="button">Novo Acto</button></a>
	<% } %>
</article>